header {
    background-color:#FFFFFF; 
    height: 70px; 
    width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    background-image: url("../images/hbnb-header.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 20px;
}